.main-container{
  justify-items: center;
  justify-content: center;
  grid-gap: 50px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  flex-wrap: wrap;
}
.card {
  display: grid;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  align-items: flex-start;
  padding: 10px;
  width: 100%; 
  
  
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
 
  width: 50px; /* Madhësia e kontejnerit rrumbullak */
  height: 50px; /* Madhësia e kontejnerit rrumbullak */
  border-radius: 50%; /* Bën imazhin rrumbullak */
  overflow: hidden; /* Mbajnë pamjen e brendshme të imazhit brenda kontejnerit */
  margin: 10px; /* Margjina e përgjithshme */
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vendos elementët në qendër horizontalisht */
  text-align: right; /* Qendro tekstin në qendër */
  justify-content: space-between;
}
.new-button{
  color: white;
  background-color: rgb(153, 53, 158);
  border-radius: 5px;
  border: 0;
  padding: 10px 10px;
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.download-button{
  border-radius: 15px ;
  
  
  background-color: white;
  border-color: rgb(0, 102, 255);
  color: rgb(0, 102, 255);
  padding-top: 7px;
  padding-bottom: 7px;
  width:40%;
}
.paragraph{
  color:#7d7979;
}
